@import "compass/css3";
@import "compass/utilities/general/clearfix";
@import "icon/*.png";
@include all-icon-sprites;

$overlayColor: white;
$borderColor: white;
$borderRadius: 5px;
$boxShadowColor: #AFAFAF;
$boxShadowHOffset: 0px;
$boxShadowVOffset: 0px;
$boxShadowBlur: 15px;
$gradientColorFrom: #F0F0F0;
$gradientColorTo: #EFEFEF;
$captionColor: #414141;
$captionShadowColor: white;
$captionShadowHOffset: 0;
$captionShadowVOffset: 1px;
$captionShadowBlur: 0;

#lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: $overlayColor;
  display: none;
  width: 100%;
  height: 100%;
  @include opacity(0.85);
}

#lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  img {
    width: auto;
    height: auto;
    @include border-radius($borderRadius);
  }
  a img {
    border: none;
  }
}

.lb-outerContainer {
  border: 1px solid $borderColor;
  @include single-box-shadow($boxShadowColor, $boxShadowHOffset, $boxShadowVOffset, $boxShadowBlur);
  position: relative;
  background-color: $gradientColorTo;
  @include pie-clearfix;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  @include border-radius($borderRadius);
}

.lb-container {
  padding: 1px 1px 3px 1px;
}

.lb-loader {
  position: absolute;
  top: 40%;
  left: 0%;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
  .lb-cancel {
    background: url("../images/loading.gif");
    display: inline-block;
    height: 32px;
    width: 32px;
  }
}

.lb-dataContainer {
  @include background-image(linear-gradient($gradientColorFrom, $gradientColorTo));
  @include opacity(0.8);
  height: 31px;
  margin: 0 auto;
  @include pie-clearfix;
  width: 100%;
}

.lb-data {
  position: relative;
  .lb-details {
    .lb-caption {
      width: 50%;
      margin: 0 auto;
      display: block;
      text-align: center;
      height: 31px;
      vertical-align: middle;
      line-height: 31px;
      color: $captionColor;
      @include single-text-shadow($captionShadowColor, $captionShadowHOffset, $captionShadowVOffset, $captionShadowBlur);
    }
  }
  .lb-close {
    position: absolute;
    top: 4px;
    left: 5px;
    width: 16px;
    height: 23px;
    display: inline-block;
    outline: none;
    @include icon-sprite(close);
    &.clicked {
      @include icon-sprite(close-clicked);
    }
    &:hover {
      cursor: pointer;
    }
  }
  .lb-nav {
    position: absolute;
    top: 4px;
    left: 26px;
    width: 57px;
    height: 23px;
    clear:both;
    &.hidden {
      display: none;
    }
    .lb-prev, .lb-next, .lb-center {
      width: 28px;
      display: block;
      height: 23px;
      float: left;
    }
    .lb-prev {
      @include icon-sprite(prev);
      &.clicked {
        @include icon-sprite(prev-clicked);
      }
    }
    .lb-next {
      @include icon-sprite(next);
      &.clicked {
        @include icon-sprite(next-clicked);
      }
    }
    .lb-center {
      @include icon-sprite(prevnextspacer);
      width: 1px;
    }
  }
}
